<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vue</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    {{ greeting }}
    <input v-model="greeting"> 
</div>
<hr>
<div  v-if="isVisible" class="box"></div>
<script src="https://unpkg.com/vue@3"></script>
<script>
let app = Vue.createApp({
data: function(){
return{
    
    greeting: 'Welcome to Vue3!',
    isVisible: false


}
}
})
//mount app to html
app.mount('#app')
</script>
</body>
</html>